/* Stylesheet System Style2 */
/* Graphics Variation */
/* Border: #007300 */

body{
   	background: #FFFFFF;
}

/* Border Top */
div#WM_BrdTop {
	background-color: #007300;
	box-shadow: 0px 0px 20px #000000;
}
div#WM_BrdTop:hover {
	box-shadow: 0px 0px 30px #000000;
}

/* Border Bottom */
div#WM_BrdBot {
	background-color: #007300;
	box-shadow: 0px 0px 20px #000000;

}
div#WM_BrdBot:hover {
	box-shadow: 0px 0px 30px #000000;
}


